{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./tailwind.config.ts",
  "printWidth": 80,
  "arrowParens": "always",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none"
}
